.header {
  background-color: #adbbda;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.company-name {
  margin: 0;
  color: black;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon {
  color: black;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}
